.sidebar
{
	overflow:auto;
}

/*
.sidebar ul li {
  border-top: none;
  padding: 5px 0;
  margin: 0;
}

.sidebar>ul>li {
  border-top: 1px dashed #6a6a6a;
  padding: 5px 0;
  margin: 0;
}

.sidebar>ul>li:last-child {
  border-bottom: 1px dashed #6a6a6a;
}

.sidebar ul li:last-child {
  border-bottom: none;
}
*/


.sidebar li
{
  border-top: 1px dashed #6a6a6a;
  padding: 5px 0;
  margin: 0;	
}

.sidebar li li
{
  border-top: 1px dashed #6a6a6a;
  padding: 5px 0;
  margin: 0;	
}


/*
html body .sidebar li, html body .sidebar li:last-child
{
	border:0;
}

html body .sidebar a, html body .sidebar a:visited
{
	color:#FBCC62;
	border-top:1px dashed #6A6A6A;
	display:block;
	padding:0.4em 0;
}


*/
.sidebar ul li.active a, .sidebar ul li.active a:visited
{
	color:#FBCC62;
}
/*
html body .sidebar ul
{
	margin:0;
	padding:0;
}

html body .sidebar ul li
{
	margin:0;
	padding:0;
}
*/



#content h1
{
	font-size:1.4em;
	padding-bottom:0.5em;
}

code
{
	color:inherit;
	border:0;
	overflow:auto;
}

#navigation ul li.active
{

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	
}


/* ---- */

#search {
	float: right;
	margin: 3px 8px;
}

#search input.text {
	padding: 3px 5px;
	width: 250px;
}


.ac_results {
	padding: 0;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: 12px Trebuchet MS, 'Geneva CE', lucida, sans-serif;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
}

.ac_results li strong {
	color: #000000;
}

.ac_odd {
	background-color: #eeeeee;
}

.ac_over {
	/*background-color: #006aeb;*/
	color: #ffffff;
}

.ac_results li.ac_over strong {
	color: #ffffff;
}


#navigation {
	margin-bottom:1.5em;
	padding: 3px 8px;
	height: 26px;
	font-family:"proxima-nova", sans-serif;
}

#navigation ul {
	list-style: none;
	margin: 0 8px 4px 0;
	padding: 0;
	overflow: hidden;
	float: left;
}

#navigation ul + ul {
	border-left: 1px solid #bbb;
	padding-left: 8px;
}

#navigation ul li {
	float: left;
	margin: 2px;
	padding: 3px 3px;
	color: #808080;
}

#navigation ul li.active {
	background-color: #E33922;
	color: #ffffff;
	font-weight: bold;
}

#navigation ul li a {
	color: #000000;
	font-weight: bold;
	padding: 0;
}

#navigation ul li span {
	float: left;
	padding: 0 3px;
}

#navigation ul li a:hover span, #navigation ul li a:active span, #navigation ul li a:focus span {
}


#content {
	/*clear: both;*/
	padding: 5px 15px;
}

.description pre {
	padding: .6em;
	background: #fcfcf7;
}

#content > .description {
	background: #E9EDEE;
	padding: 1px 8px;
	margin: 1.2em 0;
}

#content > .description pre {
	margin: .5em 0;
}

dl.tree {
	margin: 1.2em 0;
}

dl.tree dd {
	margin: 0;
	padding: 0;
}

.info {
	margin: 1.2em 0;
}

.summary caption {
	border-width: 1px 1px 0;
}

.summary caption.switchable {
	background: #E9EDEE url('sort.png') no-repeat center right;
	cursor: pointer;
}

.summary td {
	border: 1px solid #cccccc;
	margin: 0;
	padding: 3px 10px;
	font-size: 1em;
	vertical-align: top;
}

.summary td:first-child {
	text-align: right;
}

#packages.summary td:first-child, #namespaces.summary td:first-child, .inherited.summary td:first-child, .used.summary td:first-child {
	text-align: left;
}

.summary tr:hover td {
	background: #f6f6f4;
}

.summary .description pre {
	border: .5em solid #E9EDEE;
}

.summary .description p {
	margin: 0;
}

.summary .description p + p, .summary .description ul {
	margin: 3px 0 0 0;
}

.summary .description.detailed h4 {
	margin-top: 3px;
}

.summary dl {
	margin: 0;
}

.summary dd {
	margin: 0 0 0 25px;
}

.name, .attributes {
	white-space: nowrap;
}

.value {
	white-space: pre-wrap;
}

td.name, td.attributes {
	width: 1%;
}

.class #methods .name {
	width: auto;
	white-space: normal;
}

.class #methods .name > div > code {
	white-space: pre-wrap;
}

.class #methods .name > div > code span, .function .value > code {
	white-space: nowrap;
}

.class #methods td.name > div, .class td.description > div {
	position: relative;
	padding-right: 1em;
}

.anchor {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1;
	font-size: 85%;
	margin: 0;
	color: teal !important;
}

.list {
	margin: 0 0 5px 25px;
}

.deprecated {
	opacity: .5;
}

.deprecated:hover {
	opacity: 1;
}

.hidden {
	display: none;
}


div.tree ul {
	list-style: none;
	background: url('tree-vertical.png') left repeat-y;
	padding: 0;
	margin-left: 20px;
}

div.tree li {
	margin: 0;
	padding: 0;
}

div.tree div {
	padding-left: 30px;
}

div.tree div.notlast {
	background: url('tree-hasnext.png') left 10px no-repeat;
}

div.tree div.last {
	background: url('tree-last.png') left -240px no-repeat;
}

div.tree li.last {
	background: url('tree-cleaner.png') left center repeat-y;
}

div.tree span.padding {
	padding-left: 15px;
}

.php-keyword1 {
	color: #1E347B;

}

.php-keyword2 {

}

.php-var {
	color: teal;
}

.php-num {
	color: #cd0673;
}

.php-quote {
	color: #D14;
}

.php-comment {
	color: #929292;
}

.xlang {
	color: #cf440a;
	font-weight: bold;
}

.l {
	padding-left: 2px;
	color: #c0c0c0;
}

.l:target {
	background: #cf440a url('code-line.png') right center no-repeat;
	color: #ffffff;
}